@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --radius: 0.625rem;
  }
  
  body {
    @apply bg-custom-bg min-h-screen;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
  html, body, #root {
    height: 100%;
    margin: 0;
    padding: 0;
  }
}